rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(userId) {
      return exists(/databases/$(database)/documents/admins/$(userId));
    }

    match /admins/{userId} {
      allow read;
    }

    match /events/{eventId} {
      allow read;
      allow write: if request.auth != null && isAdmin(request.auth.uid);

      match /applications/{applicationId} {
        allow write;
        allow read: if request.auth != null && isAdmin(request.auth.uid);

        allow create: if request.resource.data.name != null &&
          request.resource.data.surname != null &&
          request.resource.data.birthNumber != null &&
          request.resource.data.address != null;

      } // applications

    } // event

  } //databases

}