service cloud.firestore {
  match /databases/{database}/documents {

    match /events/{eventId} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == 'jUhGwCo8hLOCtfAb3471hTplPRG3';

      match /applications/{applicationId} {
        allow write;
        allow read: if request.auth != null && request.auth.uid == 'jUhGwCo8hLOCtfAb3471hTplPRG3';

        allow create: if request.resource.data.name != null &&
          request.resource.data.surname != null &&
          request.resource.data.birthNumber != null &&
          request.resource.data.address != null;

      } // applications

    } // event

  } //databases

}
